<%- include("partials/header"); -%>

<h1><%=focus %></h1>
<!-- /List of Skills/ -->
<h2>Skills: </h2>
<% skills_data.forEach(function(skill){%>
        
    <div>
        <a href="/area/<%=area%>/focus/<%=focus%>/skill/<%=skill.name%>"><h2><%= skill.name %></h2></a>
     </div>   
   
     <%});%>

     <form class="item" action="/area/<%=area %>/focus/<%=focus %>" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" class="button" name="button">+</button>
    </form>