<%- include("partials/header"); -%>

<h1><%=skill%></h1>
<h2>Notes:</h2>
<% notes_data.forEach(function(note){%>
        
    <div>
        
            <h3>[<%= note.name %>]</h3>
            <p> <%- note.details %></p>
            <form action="/delete/<%=note._id%>" method="post">
                <input type="checkbox" name = "itemBox" value="<%=note._id%>" onChange = "this.form.submit()">
                <input type="hidden" name="skill" value= <%=skill %>>
                <input type="hidden" name="area" value= <%=area %>>
                <input type="hidden" name="focus" value= <%=focus %>>
            </form>
           
     </div>   
   
     <%});%>

     <form class="item" action="/area/<%=area %>/focus/<%=focus %>/skill/<%=skill%>" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <textarea rows="5" cols ="40" name="desc" ></textarea>
        <button type="submit" class="button" name="button">+</button>
    </form>